.content-inner {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow-y: auto
}

.tab-content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: auto;
	min-height: 99.8%
}

.top-btn {
	margin: 10px
}

.left-column {
	border-right: 1px solid #ddd;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 20%;
	overflow: hidden
}

.right-table-area {
	margin-left: 21%;
	width: 79%;
	overflow: hidden
}

.left-column-head {
	border-bottom: 1px solid #dfdfdf;
	background: #efefef;
	color: #5c5c5c;
	line-height: 38px;
	text-align: center
}

.left-column-list {
	padding: 10px;
	line-height: 2
}

.left-column-menu {
	padding-left: 12px;
	padding-top: 19px;
	line-height: 30px
}

.left-column-menu li {
	padding-left: 18px
}

.left-column-menu .has-submenu {
	background: url(../../resources/images/icon_drop.png) left 12px
		no-repeat
}

.left-column-list .current>a, .left-column-menu .current>a {
	color: #69afde
}

.input-table {
	width: 100%
}

.input-table .form-item-title {
	width: 100px;
	text-align: right;
	margin-right: 10px
}

.checkboxes {
	clear: both;
	height: 30px;
	line-height: 30px;
	margin: 0;
	padding-left: 20px
}

.checkboxes>li {
	width: 93px;
	margin-right: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

.bt0 {
	border-top: 0
}

.m10 {
	margin: 10px
}

.icon-delete {
	display: block;
	background: url(../../resources/images/garbage.png) no-repeat;
	width: 12px;
	height: 13px;
	margin-top: 8px;
	cursor: pointer
}

#add_new_role {
	margin: 30px auto
}

.left-column-list>li {
	height: 30px;
	line-height: 30px
}

.left-column-list>li>a {
	display: inline-block;
	width: 120px;
	height: 30px;
	line-height: 30px
}

#role_management_save {
	margin-top: 20px;
	margin-left: 20px
}

.add-new-role-box {
	text-align: center;
	width: 140px;
	margin: 30px auto
}

.add-new-role-box .input-text {
	width: 138px;
	margin-bottom: 30px
}

.add-new-role-box .normal-btn {
	width: 60px
}

.add-new-role-box .normal-inverse-btn {
	width: 58px
}

.note-text {
	position: absolute;
	bottom: 10px;
	left: 10px;
	right: 10px;
	color: #a4a4a4
}

#role_management .checkboxes>li {
	width: 140px
}

.tab-top .drop {
	width: 15%;
	margin-top: 10px
}

.tab-top .form-item-title {
	margin-top: 10px;
	text-align: right;
	margin-right: 10px;
	margin-left: 0
}

.tab-top .search-box {
	margin-top: 10px;
	margin-right: 10px
}

.tab-top .search-box .input-text {
	width: 150px;
	margin-right: 0
}

.tab-top .think-box {
	left: 0;
	top: 29px;
	width: 130px
}

.popup-account-setting, .popup-pwd-reset-success {
	text-align: center;
	display: none
}

.popup-account-setting .popcontent, .popup-pwd-reset-success .popcontent
	{
	top: 50%;
	left: 50%;
	margin-left: -200px;
	margin-top: -100px;
	width: 360px;
	height: 132px
}

.popup-account-setting p, .popup-pwd-reset-success p {
	font-size: 14px;
	color: #5c5c5c;
	margin-top: 30px
}

.popup-account-setting .btn-group {
	width: 260px;
	margin: 35px auto 0
}

.popup-account-setting .btn {
	float: left;
	margin: 15px
}

.success-message {
	width: 358px;
	height: 118px;
	z-index: 100;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-top: -59px;
	margin-left: -179px;
	background: #000;
	filter: alpha(opacity = 50);
	-moz-opacity: .5;
	opacity: .5;
	border-radius: 2px
}

.success-message>p {
	text-align: center;
	font-size: 20px;
	color: #fff;
	line-height: 118px
}

.popup-pwd-reset-success .btn {
	float: none;
	display: block;
	margin: 45px auto
}

.radio {
	line-height: 30px;
	margin-right: 40px
}

.bl-title {
	position: relative
}

.bl-title .top-btn {
	position: absolute;
	top: -5px;
	right: 0
}

#user_detail_info_table {
	width: 100%;
	margin-top: 15px
}

#user_detail_info_table td {
	width: 25%;
	line-height: 30px
}

#user_detail_info_table .form-item-title {
	margin-left: 20px
}

#user_detail_info_table .brief-intro {
	line-height: 2;
	float: left;
	width: 800px;
	margin-top: 3px
}

.tab-top {
	padding: 20px
}

.tab-top .input-text {
	width: 120px;
	margin-right: 10px
}

#clinic_user_list .tab-top .form-item-title {
	margin-left: 0;
	margin-top: 0;
	width: auto;
	text-align: left
}

#clinic_user_list .tab-top .drop {
	margin-top: 0;
	margin-right: 20px
}

.checkbox {
	padding-left: 25px;
	background: url(../../resources/images/icon_checkbox.png) left center
		no-repeat;
	cursor: pointer;
	color: #676767;
	font-style: normal;
	line-height: 30px;
	margin-right: 20px
}

.checkbox.checked {
	background: url(../../resources/images/icon_checkbox_checked.png) left
		center no-repeat
}

.clinic-detail-info {
	padding: 20px
}

.clinic-detail-info td {
	width: 280px
}

.clinic-detail-info .form-item-title {
	width: 96px
}

.clinic-detail-info span {
	line-height: 30px
}

.clinic-detail-info .btn {
	margin-top: 20px
}

.setting {
	padding-top: 20px;
	padding-left: 20px
}

.setting .form-item-title {
	width: 100px;
	text-align: right;
	margin-right: 20px
}

.setting>.clear {
	padding: 10px 0
}

.setting .radio {
	float: left
}

.setting .date {
	width: 130px
}

.date-separator {
	margin: 0 5px;
	color: #69afde;
	line-height: 30px
}

.setting .drop {
	width: 200px
}

.setting .num {
	line-height: 30px;
	width: 16px
}

.setting .package-list {
	margin-top: -10px
}

.setting .package-list>li {
	margin-top: 10px
}

.icon-add, .icon-minus {
	width: 30px;
	height: 30px;
	display: block;
	margin-left: 9px;
	margin-right: 16px;
	cursor: pointer
}

.icon-add {
	background: url(../images/icon_add.png) no-repeat
}

.icon-minus {
	background: url(../images/icon_minus.png) no-repeat
}

.input-table .input-text, .input-table .drop {
	width: 74%
}

.input-text.invalid-input {
	background: #ffede4;
	border-color: #f35200
}

.popup-role-preview {
	width: 800px;
	height: 600px;
	right: 11px;
	top: 16%
}

.popup-role-preview .popstyle {
	width: 800px;
	height: 600px
}

.popup-role-preview .popcontent {
	width: 740px;
	height: 500px;
	padding: 20px
}

.popup-role-preview .popCon {
	border: 1px solid #dfdfdf;
	width: 100%;
	height: 100%;
	text-align: left
}

.popup-role-preview .fr {
	width: 590px;
	height: 100%;
	overflow: auto
}

.popup-role-preview li {
	color: #a4a4a4
}

.popup-role-preview .fl {
	height: 100%;
	border-right: 1px solid #dfdfdf
}

.popup-role-preview .fl li {
	width: 130px;
	cursor: pointer;
	text-align: left;
	line-height: 30px;
	list-style-type: none;
	margin-left: 15px
}

.popup-role-preview .fl li.current {
	color: #69afde
}

.checkboxes-preview {
	clear: both
}

.checkboxes-preview li {
	float: left;
	padding-left: 25px;
	background: url(../../resources/mages/icon_checkbox_preview.png) left
		center no-repeat;
	line-height: 30px;
	margin-left: 10px
}

.checkboxes-preview li.checked {
	background: url(../../resources/images/icon_checked.png) left center
		no-repeat
}

#popup_delete_confirm .popcontent {
	top: 50%;
	left: 50%;
	width: 380px;
	height: 180px;
	margin-top: -90px;
	margin-left: -190px;
	padding: 10px;
	text-align: center
}

#popup_delete_confirm .popup_text {
	margin-top: 26px;
	font-size: 16px
}

.btn-group {
	width: 360px;
	margin: 50px auto 0
}

.btn-group .btn {
	float: left
}

.in-use {
	width: 46px;
	height: 20px;
	line-height: 20px;
	background: #69afde;
	color: #fff;
	border-radius: 2px;
	text-align: center;
	margin-top: 5px
}

.drop-checkboxes {
	float: left;
	width: 360px;
	background: #fff;
	position: relative;
	cursor: pointer
}

.drop-checkboxes-menu-wrapper {
	position: absolute;
	bottom: -186px;
	left: 0;
	right: 0;
	line-height: 28px;
	background: #fff;
	z-index: 2;
	border: 1px solid #dfdfdf;
	border-radius: 2px;
	height: 185px
}

.drop-checkboxes-menu {
	height: 140px;
	overflow: auto
}

.drop-checkboxes input {
	border: 0;
	width: 150px;
	margin-left: -6px
}

.drop-checkbox {
	padding-left: 30px;
	background: url(../../resources/images/icon_checkbox.png) 10px center
		no-repeat;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

.drop-checkbox.checked {
	background: url(../../resources/images/icon_checkbox_checked.png) 10px
		center no-repeat
}

.btn-area .btn {
	width: 50px;
	margin: 9px;
	text-indent: 0
}

.flex-text-wrap {
	position: relative
}

.drop-checkboxes>p {
	border: 0;
	resize: none;
	min-height: 14px;
	height: auto;
	width: 100%;
	line-height: 1.3;
	font-size: 14px;
	cursor: pointer;
	padding: 7px 9px;
	border: 1px solid #dfdfdf;
	border-radius: 3px;
	background: #fff
}

.icon-tip {
	position: absolute;
	left: 60px;
	width: 16px;
	height: 16px;
	top: 1px;
	background: url(../../resources/images/icon_tip.png) no-repeat;
	cursor: pointer
}

.tip {
	display: none;
	position: absolute;
	left: -35px;
	top: 21px;
	height: 30px;
	line-height: 30px;
	background: #eff4f8;
	color: #a4a4a4;
	padding: 0 9px;
	border-radius: 3px;
	white-space: nowrap;
	z-index: 999
}

.icon-tip:hover+.tip {
	display: block
}

.level2-checkboxes {
	position: relative
}

.icon-more {
	display: block;
	width: 18px;
	height: 18px;
	margin-top: 6px;
	cursor: pointer;
	margin-left: 5px
}

.expand {
	background: url(../../resources/images/icon_zk.png) no-repeat
}

.contract {
	background: url(../../resources/images/icon_sq.png) no-repeat
}

.ulFlag {
	border: 1px solid #f35200
}

.input-wrapper {
	padding: 20px 10px
}

.input-wrapper .form-item-title {
	margin: 0;
	width: 100px
}

.input-wrapper input, .input-wrapper .drop {
	width: 200px
}

.btns .btn {
	margin: 30px 10px 0
}

.com_status {
	margin-bottom: 10px
}

.notAllowed {
	cursor: not-allowed
}

.level4-checkboxes {
	padding-left: 8%
}

.swich-slow {
	float: right;
	margin-top: -18px;
	margin-right: 20px;
	background: url(../../resources/images/icon_sq.png) no-repeat
}

.slow_up {
	background: url(../../resources/images/icon_zk.png) no-repeat
}

.icon-delete-x {
	position: absolute;
	top: 0;
	right: 2px;
	width: 12px;
	height: 12px;
	display: block;
	background: url(../../resources/images/icon_delete_blue.png) no-repeat;
	margin-top: 2px
}

#referrerUl>li {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

.checkboxes-wrapper {
	padding-top: 15px
}

.checkboxes-wrapper ul {
	padding-left: 20px
}

.menu_name {
	display: inline-block;
	padding-left: 20px;
	margin-bottom: 15px;
	background: url(../images/icon_checkbox.png) left center
		no-repeat;
	cursor: pointer;
	position: relative
}

.menu_name.checked {
	background: url(../images/icon_checkbox_checked.png) left
		center no-repeat
}

.level3-checkboxes:after, .level4-checkboxes:after {
	content: "";
	height: 0;
	display: block;
	clear: both
}

.level3-item, .level4-item {
	float: left;
	margin-right: 60px
}

.has_child_menu {
	float: none !important
}

.drop_arrow {
	position: absolute;
	height: 20px;
	width: 20px;
	top: 0;
	right: -26px;
	background: url(../../resources/images/icon_sq.png) no-repeat center
}

.drop_arrow.noview {
	background: url(../../resources/images/icon_zk.png) no-repeat center
}